## Latex Garbage files
*.aux
*.log
*.sync*
*.dvi
*.pdf
*.out

##C++ garbage
*.o
*.exe
#Need these Right now. All folders have the relevant outputs for consistency. *.txt

## R garbage
#Keep for paper purposes *.png
